.title {
  margin: 100px;
  text-align: center;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px whitesmoke;
}

.chancer {
  margin-top: 10%;
  text-align: center;
}
.chancer a {
  color: white;
  text-decoration: none;
}
.chancer a:hover {
  text-shadow: 0 2px 20px rgba(255, 255, 255, 1);
}

.elusin {
  margin: 1%;
  text-align: center;
}
.elusin a {
  color: white;
  text-decoration: none;
}
.elusin a:hover {
  text-shadow: 0 2px 20px rgba(255, 255, 255, 1);
}

.bg {
  background: url(files/deerpark.gif);
  background-size: cover;
}
